@mixin btn-color($bg-color) {
  background-color: $bg-color;
  color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.swal-btn {
  @include btn-color(var(--color__morado));
}

.swal-btn__danger {
  @include btn-color(var(--color__rojo));
}